.navbar-inverse{
    height: 45px;
    line-height: 45px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.navbar-header{
    width:100%;
}

.navbar-collapse{
    background:#f0f0f0;
    padding-right:20px;
}

.navbar-brand{
    margin:0;
    padding-top:0;
    font-size:30px;
    line-height:45px;
}

.navbar-nav{
       float:right;
    margin-top: 1px;

}

.navbar-nav .btn {
    margin-left: 20px;
}

.navbar-nav li{
    float:right;
}


.page{
    padding-top:65px;
}

footer{
    position:fixed;
    width:100%;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    height:80px;
    bottom:0;
    border-top:1px solid #878787;
}

.map_container{
	width: 100%;
	height: 100%;
}

.map_row{
    padding-top:25px;
    margin: 8px;
    height: 450px;
}

.container{
	float:left;
	
}

.twitter_row{
	
	float: left;
	font-weight: normal;
	font-style: normal;
	width: 300px;
}

.loading-gif{

	position: fixed;
	top: 50%;
	left: 50%;
	margin-left:50px;
	margin-top:50px;
	display: none;
		
}

.create-meeting-button{
	display: none;
	width: 300px;
	height: 100px;
	font-style: normal;
	font-weight: bold;
	
}

.start-meeting-button{
	width:300px;
	height:100px;
	font-style: normal;
	font-weight: bold;
}